[submodule "mybloglab/public"]
	path = mybloglab/public
	url = https://github.com/Evald2001/Evald2001.github.io.git
	branch = main
[submodule "public"]
	path = public
	url = https://github.com/Evald2001/Evald2001.github.io.git
	branch = main
